<IfModule mod_rewrite.c>
  RewriteEngine On

  # Kalau file/folder tidak ada, arahkan ke index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [QSA,L]
</IfModule>
